<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      #card {
        border: 0px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 3px 15px 1px rgba(92,92,92,1);
        -moz-box-shadow: 0px 3px 15px 1px rgba(92,92,92,1);
        box-shadow: 0px 3px 15px 1px rgba(92,92,92,1);
      }
      #content {
        background-color: #ffff;
      }
      #nav {
        -webkit-box-shadow: 0px 5px 19px -3px rgba(41,41,41,0.89);
        -moz-box-shadow: 0px 5px 19px -3px rgba(41,41,41,0.89);
        box-shadow: 0px 5px 19px -3px rgba(41,41,41,0.89);
      }
      #btn {
        -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.36);
        -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.36);
        box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.36);
      }

    </style>
  </head>
  <body>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <div id="card" class="card bg-dark text-black">
            <nav class="navbar navbar-dark bg-faded" id="nav">
              <h1 class="navbar-brand mb-0">Account Information</h1>
            </nav>
            <div id="content">
              <div class="row justify-content-center">
                <div class="col-10">
                  <div class="m-4">
                    <div class="my-3"><!--email-->
                      <label>Email address</label>
                      <input ng-model="userInfo.email" class="form-control" value="{{userInfo.email}}" disabled>
                    </div>
                    <div class="my-3"><!--username-->
                      <label>Username</label>
                      <input ng-model="userInfo.username" class="form-control" value="{{userInfo.username}}" disabled>
                    </div>
                    <div class="my-3"><!--first name-->
                      <label>First Name</label>
                      <input ng-model="userInfo.firstName" class="form-control"  placeholder="First Name" value="{{userInfo.firstName}}">
                    </div>
                    <div class="my-3"><!--last name-->
                      <label>Last Name</label>
                      <input ng-model="userInfo.lastName" class="form-control" placeholder="Last Name" value="{{userInfo.lastName}}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center my-3 mb-4">
                <div class="col-4 text-center">
                  <button name="updateUserInfo" ng-click="updateUserInfo(userInfo.email, userInfo.username, userInfo.firstName, userInfo.lastName)" type="button" id="btn" class="btn btn-success">Save</button>
                </div>
                <div class="col-4 text-center">
                  <button name="delAcc" data-toggle="modal" data-target="#deleteAccountModal" type="button" id="btn" class="btn btn-warning">Delete Account</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

	<!-- Modal -->
	<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h3 class="modal-title" id="modalLabel">Delete Account</h3>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<div class="row">
			  <div name="errorMessage" class="col col-lg-9">
				Please enter your password to confirm deletion: <input type="password" ng-model="deleteAccountPassword" class="form-control" id="deleteAccountPassword" placeholder="Password" required>
			  </div>
			</div>
		  </div>
		  <div class="modal-footer">
			<button ng-click="deleteAccount(deleteAccountPassword)" name="confirmAcc" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
		  </div>
		</div>
	  </div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
