<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #card {
            border: 0px;
            border-radius: 4px;
            -webkit-box-shadow: 0px 3px 15px 1px rgba(92, 92, 92, 1);
            -moz-box-shadow: 0px 3px 15px 1px rgba(92, 92, 92, 1);
            box-shadow: 0px 3px 15px 1px rgba(92, 92, 92, 1);
        }

        #email {
            border: 0;
        }

        #pass {
            border: 0;
        }
    </style>
</head>

<body>
    <h1 class="text-center display-1">Register...</h1>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div id="card" class="card text-center bg-dark text-white">
                    <div class="card-body">
                        Register with...
                        <div class="container mt-2">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <form ng-submit="createAccount(username, email, password, confirmPassword)" class="mt-4">
                                        <div class="form-group text-left">
                                            <input class="form-control" ng-model="username" id="username" placeholder="Username" required>
                                        </div>
                                        <div class="form-group text-left my-4">
                                            <input ng-model="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" required>
                                        </div>
                                        <div class="form-group text-left my-4">
                                            <input ng-model="password" type="password" class="form-control" id="password" placeholder="Password" required>
                                        </div>
                                        <div class="form-group text-left my-4">
                                            <input ng-model="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
                                        </div>
                                        <button name="register" type="submit" class="btn bg-success mt-2 mx-3">Submit</button>
                                        <button onclick="location.href='#!/login'" type="cancel" class="btn bg-danger mt-2 mx-3" formnovalidate>Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
