<html lang="en">
<head>
  <title>TroveSpace</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />




  <style>

  #head {
    font-weight: 500;
  }

  .card {
    padding-bottom: 100px;
  }

  .cover {
	border-radius: 5px;
  }

  </style>

</head>
<body>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-lg-8">
        <div class="card card-nav-tabs">
          <h3 class="card-header card-header-primary" id="head">
            {{collectibleName}}
          </h3>

        <!--This is the approve and disapprove part-->
        <div ng-show="pending" class="text-center">
          <h4>Vote for the edit</h4>
          <div class="container-fluid" id="bar">
            <div class="row">
			  <div class="col-6">
				<div class="progress">
                  <!--The width changes the bar length-->
                  <div class="progress-bar bg-success" role="progressbar" ng-style="{width : (voteKeepEdit*20)+'%'}" aria-valuenow="{{voteKeepEdit}}%" aria-valuemin="0" aria-valuemax="5">{{voteKeepEdit}}</div>
                </div>
				<div class="progress">
                  <!--The width changes the bar length-->
                  <div class="progress-bar bg-danger" role="progressbar" ng-style="{width : (voteRevertEdit*20)+'%'}" aria-valuenow="{{voteRevertEdit}}%" aria-valuemin="0" aria-valuemax="5">{{voteRevertEdit}}</div>
                </div>
			  </div>
              <div class="col-6">
                <button ng-click="incrementKeepVotes(collectibleName)" type="button" id="edit" class="btn btn-success">Approve</button>
		  		<button name="disapproveButton" ng-click="incrementRevertVotes(collectibleName)" type="button" id="edit" class="btn btn-danger">Disapprove</button>
              </div>
            </div>
          </div>
			<hr />
        </div>


          <div class="card-body">
			<div class="form-group row">
			  <div class="col-6">
				<label for="exampleInput1">Current Image</label>
			    <img width="100%" class="img-responsive cover" ng-src="{{image}}">
			  </div>
			  <div ng-show="pendingimage" class="col-6">
				<label for="exampleInput1">Pending Image</label>
			    <img width="100%" class="img-responsive cover" ng-src="{{pendingimage}}">
			  </div>
		    </div>
            <div class="form-group">
             <label for="exampleInput1">Title</label>
             <input ng-model="collectibleName" class="form-control cover" id="collectibleName" disabled>
           </div>
           <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea ng-model="collectible.description" class="form-control" id="collectibleDescription" rows="3"></textarea>
			<textarea ng-show="collectible.pendingdescription" ng-model="collectible.pendingdescription" class="form-control" id="pendingCollectibleDescription" rows="3" disabled></textarea>
          </div>

		  <div ng-repeat="(key, value) in collectible" ng-if="key!='description' && key!='category' && key!='users' && key!='votes' && key!='name' && !key.includes('pending') && key!='lastEditedBy'" class="form-group">
             <label for="exampleInput1">{{key}}</label>
             <input name="editExtra" ng-model="collectible[key]" class="form-control">
			 <input ng-show="collectible['pending'+key]" ng-model="collectible['pending'+key]" class="form-control" disabled>
          </div>

		  <div ng-repeat="(key, value) in collectible" ng-if="key!='description' && key!='category' && key!='users' && key!='votes' && key!='name' && !key.includes('pending') && key=='lastEditedBy'" class="form-group">
             <label for="exampleInput1">{{key}}</label>
             <input ng-model="collectible[key]" class="form-control" disabled>
			 <input ng-show="collectible['pending'+key]" ng-model="collectible['pending'+key]" class="form-control" disabled>
          </div>

		  <div ng-show="dateAddedToCollection" class="form-group">
             <label for="exampleInput1">Added to Collection</label>
             <input value="{{dateAddedToCollection | date: 'medium'}}" class="form-control" disabled>
          </div>

		  <div ng-show="dateAddedToWishlist" class="form-group">
             <label for="exampleInput1">Added to Wishlist</label>
             <input value="{{dateAddedToWishlist | date: 'medium'}}" class="form-control" disabled>
          </div>

           <div class="form-group">
			   <label for="exampleInput1">Count</label>
               <div class="input-group">
			   	   <input ng-model="multipleCount" class="form-control" id="multipleCount" value="{{multipleCount}}">
				   <span class="input-group-btn">
				   		<button ng-click="setMultipleCount(collectibleName, multipleCount)" type="button" class="btn btn-success">Save</button>
				   </span>
			   </div>
           </div>
		   <div ng-hide="pending" class="form-group">
			   <label for="exampleInput1">Upload Image:</label>
			   <input id="collectibleImage" ng-model="collectibleImage" type="file" accept="image/*">
		   </div>
       </div>

       <div class="text-center">
		<button ng-click="goBack()" type="button" class="btn btn-danger">Back</button>
		<button name="submitEditCollectible" ng-click="editCollectible(collectibleName)" type="button" class="btn btn-warning">Submit Edit</button>
      </div>
    </div>
  </div>

</div>
</div>

</body>
</html>
